@font-face {
    font-family: 'Esencia';
    src: url('Esencia.woff') format('woff');
}
img {
    /* max-width: 100%; */
    display: block;
    margin: 0;
    padding: 0;
}
.front-page {
    height: 100%;
}
.header-main {
    max-width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.hack-day-text {
    text-align: center;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}
.fa-facebook {
    color: #09051e;
    content: '\f09a';
}
.archhacks_title_div {
    margin-left: auto;
    margin-right: auto;
}
.local-hack-day {
    max-width: 25%;
}
#top {

    background-color: #09051e;
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
}
.mc-field-group {
    max-width: 80%;
}
#bottom {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 12em;
    font-weight: normal;
    color: #09051e;
    text-align: center;
    font-family: 'Esencia';
    margin: 0;
    margin-top: -50px;
    padding: 0;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    
    border: none;
    height: 1px;
    background-color: black;

}



@media only screen and (max-width: 1000px) {
    .archhacks_title_div {
        max-width: 80%;
    }
    #top {
        padding-top: 300px;
    }
    h1 {
        margin-top: 100px;
        font-size: 25vw;
    }
    h2 {
        font-size: 5vw;
    }
    .field {
        padding: 16px;
        min-width: 50%;
    }
    #facebook_desktop {
        display: none;   
    }
    #facebook_mobile {
        color: white;
        display: block;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 30px;
        font-size: 10vw;
    }
}
@media only screen and (min-width: 1000px) {
    .archhacks_title_div {
        max-width: 30%;
    }
    #facebook_desktop {
        display: block;
        cursor: pointer;
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
    #facebook_mobile {
        display: none;
    }
    .field {
        padding: 16px; 
    }
}

.fa-chevron-circle-down {
    position: fixed;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
#square {
    height: 64px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}
#form {
    font-size: 4vw;
    text-align: center;
    max-width: 100%;
}
input {
    background-color: #09051e;
    font-family: 'Open Sans', sans-serif;
}
.button {
    cursor: pointer;
    background-color: #bd4e67;
}
:focus {
    outline: 0;
}
#mc_embed_signup_scroll {
    max-width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}
form {
    text-align: center;
    max-width: 100%;
}
.field {
    margin: 10px;
    margin-top: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
::placeholder {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    color: #09051e;
    text-align: center;
}
h3 {
    margin: 0;
    padding: 0px;
    color: #09051e;
    text-align: center;
}







/*  MAIN CONTENT */
#content-main .header-main{
    margin-top: 50px;
}

#content-main .header-main img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

#content-main .card-wrapper-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#content-main .card-wrapper-main .card{
    /* flex: 1; */
    background-color: #ffffff;
    box-shadow: 5px 10px 18px #d9d9d9;
    
    margin: 20px;
    padding: 80px 50px;
    border-radius: 10px;
}


@media only screen and (max-width:800px) {
    #content-main .card-wrapper-main{
        display: block;
    }
    #content-main .card-wrapper-main .card{
        width: 100%;
    }
}

@media only screen and (min-width:800px) {
    

}